.vanta-logo {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: opacity 0.2s;
}

.vanta-logo:hover {
  opacity: 0.8;
}

.vanta-logo svg {
  width: 100%;
  height: 100%;
}

.vanta-logo-small {
  width: 80px;
  height: 14px;
}

.vanta-logo-medium {
  width: 120px;
  height: 20px;
}

.vanta-logo-large {
  width: 180px;
  height: 30px;
}

.vanta-logo-xlarge {
  width: 220px;
  height: 36px;
}
